 /* Estilos generales */

 *{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

body,div,li,ul,a,h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}


 body {
    font-family: Montserrat;
    --base-color: #4180ab;
    --text-color: #ffff;
    --dark-color: #8ab3cf;
    --complementar: #BDD1DE;
    --bg: #E4EBF0;
    margin: 0;
    padding: 0;
    color: #333;
    width: auto;
    background: url("../media/abstract-lines.png"), var(--bg) 100%;
    
    background-size: auto;
}

.wrapper{
    height: inherit;
}

/* Encabezado del curso */
header {
    background: linear-gradient(170deg, var(--base-color) 24%, var(--dark-color) 100%);
    color: #fff;
    text-align: center;
    padding: 50px 20px;
    height: auto;
}

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    gap: 250px;
}

.header__container-item {
    
}

.header__container-item h1 {
    margin: 0;
    font-size: 2.5rem;
}

.header__container-item p {
    margin-top: 10px;
    font-size: 3.5rem;
    font-style: italic;
}

.header-logo{
    
    width: 70%;
    margin: 0;
    margin-bottom: 20px;
    /*border: 2px solid #fff;*/
    filter: drop-shadow(.5px .5px 0 var(--text-color)) 
          drop-shadow(-.5px -.5px 0 var(--text-color));
}


.resaltar{
    color: #f9f9f9;
    font-weight: 800;
    animation: glow 5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 2px #fff, 0 0 3px var(--bg-color);
    }
    to {
      text-shadow: 0 0 6px #fff, 0 0 3px var(--text-color);
    }
  }
/* Menú de navegación */
.menu {
    background-color: color-mix(in srgb, var(--complementar) 95%, #0af 5%);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.menu__container {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu__container-item {
    width: 210px;
    margin: 0 15px;
    font-weight: 600;
    color: var(--base-color);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: auto;
    transition: background-color .5s, color .8s;
}

.active {/*.menu__container-item*/
    background-color: var(--dark-color);
    font-weight: 800;
    color: #fff;
}

/* Estilos de las secciones generales */

section{
    display: none;
}

.seccion{
    padding: 60px 20px;
    margin: 20px auto;
    max-width: 80dvw;
    background-color: var(--complementar);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

section:first-of-type {
    display: block;
  }



.seccion__list{
    margin-left: 2rem;
    text-align: center;
}

.seccion__list-item{
    list-style: lower-roman;
}

.seccion li{
    margin: 20px;
    font-size: 1.2rem;
    text-align: justify;
    font-size: medium;
}

.seccion h2 {
    text-align: center;
    padding-bottom: 25px;
    color: var(--bg-color);
    font-size: 3rem;
}
.seccion h3{    
    text-align: center;
    color: var(--bg);
    font-size: 2rem;
    background-color: var(--base-color);
    margin: 25px;

}

section h4{
    font-size: 1.5rem;
    color: var(--base-color);
    text-align: center;
    margin: 20px 0 20px 0;
    margin-bottom: 40px;
}

.seccion p {
    margin: 30px;
    line-height: 1.6;
    font-size: larger;
}
.seccion span{
    font-weight: 700;
}

.seccion a{
    text-decoration: none;
    color: inherit;
    transition: color .5s;
}

.seccion a:hover{
    color: var(--dark-color);
}

.seccion__flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.seccion__flex-item{
    display: flex;
    margin: auto;
}


/* Estilos de las secciones generales fin */

/* Estilos de las secciones especificas */
.flex{
    display: flex;
    flex-wrap: wrap;
}

.cronograma_container__tabla tr{
    height: 4dvh;
    
}

.cronograma_container__tabla table{
    margin: auto;
    background-color: var(--base-color);
    margin-bottom: 3dvh;
    width: 75dvw;
}

.cronograma_tr_mes{
    width: 6dvh;
    height: 8dvh;
    background-color: var(--dark-color);
    
}

.cronograma_tr_mes th{
    color: var(--text-color);
}

.cronograma_tr_dias{
    background-color: var(--base-color);
}

.cronograma_tr_dias th{
    background-color: var(--bg);
}

.cronograma_tr_unidades{
    background-color: var(--text-color);
    color: var(--base-color);
    font-size: 1rem;
}

.contenido_container__ul{
    margin: 0 0 0 15rem;
}

.contenido ul{
    list-style-type: none;
    
}

.contenido li{
    font-weight: 600;
    margin-top: 10px;
    transition: color .5s linear;
}

.contenido li:hover{
    color: var(--base-color);
}


.proyectos p{
    margin: 30px 250px 30px 250px;
}

.proyecto{
    text-align: center;
    align-items: center;
}


.proyecto__p{
    text-align: justify;
}
.proyecto__img{
    display: flex;
    background-attachment: fixed;
    border-radius: 40px;
    font-size:  large;
    font-weight: bold;
    filter: drop-shadow();
    margin-top: 250px;
}

.proyecto__img p{
    margin: auto;
}
.proyecto__img:nth-of-type(1){
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), #0008), url("../media/p_1_1.jpg");
    background-size: 30%;
    background-position: center;
    width: 33%;
    height: 300px;
    color: #fff;
    text-align: center;
    margin: auto;
}

.proyecto__img:nth-of-type(2){
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), #0008), url("../media/p_2_1.jpg");
    background-size: 100%;
    background-position: center;
    width: 33%;
    height: 300px;
    color: #fff;
    text-align: center;
    margin: auto;
}

.proyecto__img:nth-of-type(3){
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), #0008), url("../media/p_3_1.jpg");
    background-size: 100%;
    background-position: center;
    width: 33%;
    height: 300px;
    color: #fff;
    text-align: center;
    margin: auto;
}

.proyecto__img:nth-of-type(4){
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), #0008), url("../media/p_4_1.jpg");
    background-size: 50%;
    background-position: center;
    width: 33%;
    height: 300px;
    color: #fff;
    text-align: center;
    margin: auto;
}

.proyecto__img:nth-of-type(5){
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), #0008), url("../media/p_5_1.jpg");
    background-size: 50%;
    background-position: center;
    width: 33%;
    height: 300px;
    color: #fff;
    text-align: center;
    margin: auto;
}

.proyecto__img:nth-of-type(6){
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), #0008), url("../media/p_6_1.jpg");
    background-size: 50%;
    background-position: center;
    width: 33%;
    height: 300px;
    color: #fff;
    text-align: center;
    margin: auto;
}

.proyecto__img:nth-of-type(7){
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), #0008), url("../media/p_7_1.jpg");
    background-size: 50%;
    background-position: center;
    width: 33%;
    height: 300px;
    color: #fff;
    text-align: center;
    margin: auto;
}

.egresados{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.egresados img{
    margin: auto;
    border-radius: 30px;
    
}



.objetivos {
    text-align: center;
}

.objetivos p{
    text-align: justify;
    margin: 0 100px 0 100px;
}


.seccion__flex-item{
    
    
    
}

.modalidad{
    flex-direction: row-reverse;
    width: 50%;
    justify-content: space-evenly;
    margin-left: 30%;
    border-radius: 40px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .img-container{
    text-align: center;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

.general{
    background-attachment: fixed;
    border-radius: 40px;
    font-size:  xx-large;
    font-weight: bold;
    filter: drop-shadow();
    margin-top: 25px;
}
.general:nth-of-type(1){
    background-image: linear-gradient(rgba(0, 0, 0, 0.075), #0008),url("../media/industria.jpg");
    background-size: contain;
    width: 33%;
    height: 300px;
    color: #fff;
    text-align: center;
}
.general:nth-of-type(2){
    background-image: linear-gradient(rgba(0, 0, 0, 0.075), #0008),url("../media/industria2.jpg");
    background-size: cover;
    width: 33%;
    height: 300px;
    color: #fff;
    text-align: center;
}
.general:nth-of-type(3){
    background-image: linear-gradient(rgba(0, 0, 0, 0.075), #0008),url("../media/industria3.jpg");
    background-size: contain;
    width: 33%;
    height: 300px;
    color: #fff;
    
}

.general p{
    margin: auto;
}
.objetivo {
    border-radius: 40px;
    width: 30%;
    
}



.seccion-img{
    border-radius: 40px;
    width: 10%;
    margin: 0;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px #0004;
}


/* Estilos de las secciones especificas fin*/

/* Pie de página */
footer {
    background-color: var(--base-color);
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
    padding:  20px;
    
    
    
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}


.container{
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    margin: 0 auto;
  }

  
  
  .card{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0, .5);
    border-radius: 15px;
  }
  
  .card .face{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card .face.face1{
    box-sizing: border-box;
    padding: 20px;
  }
  
  .card .face.face1 h2{
    margin: 0;
    padding: 0;
  }
  
  .card .face.face1 .content{
    font-size:1.2em;
    margin:0;
    padding:0 0 1em 0;
    font-weight:500;
  }
  
  .card .face.face2{
    background: #111;
    transition: 0.5s;
  }
  
  .card:nth-child(1) .face.face2{
    background: var(--base-color);
    border-radius: 15px;
  }
  
  .card:nth-child(2) .face.face2{
    background: var(--base-color);
    border-radius: 15px;
  }
  
  .card:nth-child(3) .face.face2{
    background: var(--base-color);
    border-radius: 15px;
  }
  
  .card:hover .face.face2{
    height: 60px;
    border-radius: 0 0 15px 15px;
  }
  
  .card .face.face2:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.1);
    border-radius: 15px 0 0 15px;
  }
  
  .card .face.face2 h2{
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #fff;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0,0,0, .2);
  }

  .card:nth-of-type(1){
    background-image: linear-gradient(rgba(0, 0, 0, 0.075), #0008),url("../media/online.jpg");
    background-size: cover;
  }

  .card:nth-of-type(2){
    color: var(--text-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), #0008),url("../media/online_1.jpg");
    background-size: cover;
  }

  .card:nth-of-type(3){
    color: var(--text-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), #0008),url("../media/online_2.jpg");
    background-size: cover;
  }
  
  .card:hover .face.face2 h2{
    font-size: 1em;
  }

  .content{
    margin: 0;
    padding: 0;
  }